.wrapper {
  display: flex;
}

.sideNavContainer {
  width: 15.76%;
  min-width: 227px;
}

.sideNav>ul {
  list-style: none;
  padding: 0px;
}

.sideNav>ul>li {
  height: 56px;
  padding-left: 24px;
  display: flex;
  align-items: center;
}

.sideNav>ul>li>a {
  font-size: 18px;
  line-height: 39px;
}

.sideNav>ul>li:not(.sideNavActive)>a {
  color: var(--primary-text);
}

.sideNavActive {
  border-left: 7px solid var(--primary-color);
  padding-left: 17px!important;
}

.sideNavActive>a {
  color: var(--primary-color);
}

.sideNavActive>a>span {
  background: var(--primary-color);
}

.dashboardIcon {
  display: block;
  mask: url(/dashboard-icon.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  height: 21px;
  width: 30px;
  margin-right: 11px;
  background: var(--primary-text);
}

.chatIcon {
  display: block;
  mask: url(/chat-icon.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  height: 23px;
  width: 30px;
  margin-right: 11px;
  background: var(--primary-text);
}

.mainContainerWrapper {
  flex-grow: 1;
  background: var(--main-background);
  border-radius: 30px;
  border: 1px solid var(--faded-blue);
  height: max-content;
  min-height: 700px;
  margin-bottom: 60px;
  margin-right: 48px;
  position: relative;
}
