.wrapper {
  display: flex;
}

.sideNavContainer {
  width: 15.76%;
  min-width: 227px;
}

.sideNav>ul {
  list-style: none;
  padding: 0px;
}

.sideNav>ul>li {
  height: 56px;
  display: flex;
  align-items: center;
}

.sideNav>ul>li>a {
  font-size: 18px;
  line-height: 39px;
  padding-left: 24px;
}

.sideNav>ul>li>a:not(.sideNavActive) {
  color: var(--primary-text);
}

a.sideNavActive {
  border-left: 7px solid var(--primary-color);
  padding-left: 17px!important;
  color: var(--primary-color);
}

a.sideNavActive>span {
  background: var(--primary-color);
}

.dashboardIcon {
  display: block;
  mask: url(/dashboard-icon.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  height: 21px;
  width: 30px;
  margin-right: 11px;
  background: var(--primary-text);
}

.chatIcon {
  display: block;
  mask: url(/chat-icon.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  height: 23px;
  width: 30px;
  margin-right: 11px;
  background: var(--primary-text);
}
