.side__nav__container {
  display: inline-block;
  vertical-align: top;
}

.side__nav {
  width: 15.76%;
  min-width: 227px;
}

.side__nav>ul {
  list-style: none;
  padding: 0px;
}

.side__nav>ul>li {
  height: 56px;
  padding-left: 24px;
  display: flex;
  align-items: center;
}

.side__nav>ul>li>a {
  font-size: 18px;
  line-height: 39px;
}

.side__nav>ul>li:not(.side__nav__active)>a {
  color: var(--primary-text);
}

.side__nav__active {
  border-left: 7px solid var(--primary-color);
  padding-left: 17px!important;
}

.side__nav__active>a {
  color: var(--primary-color);
}

.side__nav__active>a>span {
  background: var(--primary-color);
}

.dashboard__icon {
  display: block;
  mask: url(/dashboard-icon.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  height: 21px;
  width: 30px;
  margin-right: 11px;
  background: var(--primary-text);
}

.chat__icon {
  display: block;
  mask: url(/chat-icon.svg);
  mask-repeat: no-repeat;
  mask-position: center;
  height: 23px;
  width: 30px;
  margin-right: 11px;
  background: var(--primary-text);
}

.main__container__wrapper {
  display: inline-block;
  vertical-align: top;
  background: var(--main-background);
  border-radius: 30px;
  border: 1px solid var(--faded-blue);
  width: 84.24%;
  height: max-content;
  min-height: 700px;
  margin-bottom: 60px;
  position: relative;
}
